<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirige a index.php si no se encuentra el archivo o directorio
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>